nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 10vh;
    position: fixed;
    z-index: 99999999;
    width: 100%;
}

.color{
    background-color: #080808;
}

nav .hamburger{
    display: none;
}

nav .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 30px;
}

@media(max-width:700px){
    nav .hamburger{
        display: block;
    }

    .menu{
        width: 100%;
        position: absolute;
        height: 90vh;
        top: 10vh;
        left: -100%;
        flex-direction: column;
        gap: 30px;
        background-color: black;
    }

    .active{
        left: 0;
    }
}